<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	
	<welcome-file-list>
	<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
	<welcome-file>/WEB-INF/jsp/Login.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>PatchMaker</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatchMaker</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
<!-- 	File upload servlet -->
	 <servlet>
    <description></description>
    <display-name>FileUploader</display-name>
    <servlet-name>uploadFiles</servlet-name>
    <servlet-class>com.patchMaker.controller.FileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFiles</servlet-name>
    <url-pattern>/uploadFiles</url-pattern>
  </servlet-mapping>
<!-- 	File upload servlet mapping ends here -->
   <servlet>
     <servlet-name>FileManager</servlet-name>
     <servlet-class>com.jsos.fmanager.FileManager</servlet-class>
     <init-param>
      <param-name>config</param-name>
      <param-value>d:/PatchMakerRoot/FileBrowserProperties/fmconf</param-value>
     </init-param>
    </servlet>
  <servlet-mapping>
     <servlet-name>FileManager</servlet-name>
     <url-pattern>/servlet/FileManager</url-pattern>
    </servlet-mapping>
    
</web-app>